.header {
  height: 75px;
  padding: 0 129px;
  background-color: transparent;
  width: 100%;
  top: 0;
  transform: translateY(0);
  transition: all 0.2s linear;
  position: fixed;
  z-index: 100;
  &-logo {
    height: 22px;
    display: inline-block;
  }

  &-menu {
    display: flex;
    gap: 34px;
    color: #fff;
    &-right {
      display: flex;
      gap: 7px;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    gap: 5px;
    a {
      text-decoration: none;
      font-size: 13px;
      font-weight: 500;
      color: #fff;
    }
  }
 
  &-menu2, .header-menu3 {
    display: none;
    transition: all 0.2s linear;
    position: absolute;
    list-style: none;
    width: 240px;
    color: #000;
    background-color: #fff;
    margin-left: -20px;
    border-radius: 4px;
  }

  &-item2-list, .header-item3 {
    margin: 0px 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      a {
        color: red;
      }
    }
  }

  &-item {
    position: relative;
    &:hover {
      .header-menu2 {
        transition: all 0.2s linear;
        display: block;
      }
    }
  }

  &-item2 {
    position: relative;
    &:hover {
      .header-menu3 {
        transition: all 0.2s linear;
        display: block;
      }
    }
  }

  &-menu3 {
    left: calc(100% + 21px);
    top: 0;
    transition: all 0.2s linear;
  }

  &-line {
    height: 14px;
    background:transparent;
    cursor: pointer;;
  }
}
.header.active.MuiBox-root.header.active.MuiBox-root.css-i9gxme{
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  transition: all 0.2s linear;
  .header-list a{
    color: #000;
  }
  .header-list svg{
    color: #000;
  }
  .header-menu-right svg {
    color: #000 !important;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
    &-menu {
      display: none;
      &-right {
        justify-content: flex-end;
      }
    }
  }
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6.MuiGrid-grid-md-8.css-5oeiha-MuiGrid-root {
    justify-content: flex-end !important;
  }
}