.choose {
  display: flex;
  align-items: center;
  justify-content: center;
  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #000;
    text-align: center;
  }
  &-description {
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #222222;
    text-align: center;
   }
   &-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
   }
}