.container {
  padding: 0 105px;
  position: relative;
  &-content {
    height: 800px;
    &-video {
     width: 100%;
     height: 800px;
     object-fit: cover;
     background:#000000;background:rgb(0,0,0,0.3);
     background:rgba(0,0,0,0.3);
    }
  }
  &-bright {
    height: 60vh;
    margin-top: 50px;
  }
  &-footer {
    background-color: #000000;
    color: #fff;
    margin-top: 100px;
    &-line {
      background: #222222;
      height: 1px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    .content:first-child {
      margin-top: 60px !important;
    }
    .content:nth-child(2) {
      margin-top: 190px !important;
    }
    
  }
}